@import '../../assets/styles/variables.scss';

.login__layout,
.login {
  display: flex;
  justify-content: center;
  background: $white;
  height: 100vh;
  align-items: center;
  font-size: rem(10);
  overflow: hidden;
  @media #{$mq-mw-small} {
    flex-direction: column-reverse;
    height: auto;
  }
  &-wallpaper {
    display: flex;
    max-height: 90vh;
    justify-content: center;
    padding-right: 5.9%;

    @media #{$mq-mw-small} {
      max-width: 100vw;
    }
    img {
      object-fit: contain;
    }
  }

  &__head {
    &-worklife {
      font-family: $font-bold;
      font-size: rem(36);
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      color: $primary;
      &-icon {
        height: rem(36);
      }
    }
    &-title {
      margin-top: 10.8%;
      display: flex;
      flex-direction: column;
      &-text {
        font-family: $font-bold;
        font-size: rem(24);
        font-stretch: normal;
        font-style: normal;
        line-height: rem(20);
        letter-spacing: normal;
        color: $text-dark;
      }
      &-subtext {
        margin-top: rem(8);
        font-family: $font-regular;
        color: $subtext;
        font-size: rem(16);
        font-weight: normal;
        letter-spacing: rem(-0.1);
      }
    }
  }

  .form__login-btn {
    margin-top: rem(40);
    max-width: 50%;
  }
}
