body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'NeueHaasUnicaPro-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f6f7fb;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1;
  -webkit-font-feature-settings: 'kern' 1;
  input::-webkit-input-placeholder {
    line-height: normal !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@import './app.scss';
